$body_font: 'Roboto', sans-serif;
$title_font: 'Zilla Slab', serif;
$color_btn: #E91E63;
$gray: #E3E3E3;
$color_menu: transparent;
$blue_color: #00bcd4;
$green_color:#57C700;
$red_color:#f45f53;
$font_size: 10px;
$border_img:5px;
$shadow:2px 2px 5px #999;
$color_foot: #48484A;
$facebook: #4a66a0;
$google: #de513f;
$twitter:#89c5f3;
$linkedin:#2586bc;
$pinterest:#d03237;
$dribbble:#d03237;
$height-btn: 8px;
